@{ 
   Layout = "_LayoutAnonymous"; 
}
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="empty">
            <div class="empty-header">
                <svg style="width: 150px; height: 150px;" xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="150" height="150" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path><path d="M12 6l-2 4l4 3l-2 4v3"></path></svg>
            </div>
            <p class="empty-title">Oops… You just found an error page</p>
            <p class="empty-subtitle text-muted">
                We are sorry but the page you are looking for was not found
            </p>
            <div class="empty-action">
                <a href="/" class="btn btn-outline-dark">
                    Back to home screen
                </a>
            </div>
        </div>
    </div>
</div>