@using App.Domain.Entities
@using App.Infra.Implementation.Filter
@model Paginate<ProjectTeamEntity>

<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter card-table">
            <tbody>
                @foreach (var team in Model.Items)
                {
                <tr>
                    <td>
                        <div class="d-flex py-1 align-items-center">
                            <span class="avatar me-2" style="background-image: url(@team.Icon)"></span>
                            <div>
                                <div class="font-weight-medium fw-bold">@team.Name</div>
                                <div class="text-secondary">@team.Description</div>
                            </div>
                        </div>
                    </td>
                    <td class="text-end">
                        <div class="divide-x-2">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-save" onclick="modalSave(@team.Id)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Update">
                                <i class="ti ti-http-put fs-icon text-muted"></i>
                            </a>
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Delete">
                                <i class="ti ti-http-delete fs-icon text-danger"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>