@using App.Mvc.Models
@model TeamFormModel

<div class="page-header d-print-none mb-5">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Team
                </h2>
                <small class="pt-1">Update a exist team for the projects</small>
            </div>            
        </div>
    </div>
</div>

<div class="container-xl">
    <div class="row row-cards">
        <div class="col-md-12">
            <form asp-controller="Team" asp-action="Update" method="post" enctype="multipart/form-data">
                <partial name="_TeamFormPartial" model="Model" />
            </form>
        </div>
    </div>
</div>