

.dropdown-item:focus, .dropdown-item:hover {
    font-weight: bolder;
    background: var(--tblr-body-bg) !important;
}

.dropdown-menu-column {
    border-left: solid 1px var(--tblr-body-bg);
}

.dropend.separator {
    border-top: solid 2px var(--tblr-body-bg);
}

/* Apenas em telas menores que a de um smartphone*/
@media screen and (max-width: 768px) {
}

/* Apenas em telas maiores que a de um smartphone*/
@media screen and (min-width: 769px) {
  

}