li.nav-item.active {
    color: black !important;
    border-right: solid 3px black;
}

.list-group-item {
    background-color: transparent !important;
}

.tw-balance{
    text-wrap: balance;
}

.badge-avatar {
    top: 0.4rem !important;
    right: 0.05rem !important;
}

body.page-center-muted {
    background: #fafafa !important;
}


/* Apenas em telas menores que a de um smartphone*/
@media screen and (max-width: 768px) {
    footer{
        margin-left:0px !important;
    }
}

/* Apenas em telas maiores que a de um smartphone*/
@media screen and (min-width: 769px) {
    footer {
        margin-left: 5rem !important;
    }

    .page .page-center {
        min-height: 79vh !important;
    }

}